<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data generated</title>
</head>
<body>
    <div>
        @Html.ActionLink("Back to summary", "Index")
    </div>
</body>
</html>
