@model IEnumerable<Twitter.Models.User.UserRolesViewModel>
@{
    ViewBag.Title = "ShowCurrentUserRoles";
}
<h2>List of users in this role</h2>
<h4>Roles.</h4>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Email
            </td>
            <td>
                @item.Rola
            </td>
        </tr>
    }
</table>
